#wrapper {
    display: flex;
    justify-content: center;
}

#container {
    display: flex;
    justify-content: space-between;
    /* width: 1440px; */
    width: 100%;
}

#center {
    width: 910px;
    background-color: white;
}

#right {
    width: 440px;
    background-color: aqua;
}

#left {
    width: 120px;
    height: 870px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#left_above {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
}

#below {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.item-logo{
    width: 52px;
    height: 50px;
    margin-top: 19px;
}

.item {
    width: 35px;
    margin-top: 50px;
}

#setting {
    margin-top: 36px;
}
#content{
    display: flex;
    justify-content:space-between;
}
#content-one{
    display: flex;
    justify-content:space-between;
    width: 100%;
}
#content-left{
    display: flex;
    font-size: 13px;
    position: relative;
    margin-top: 15px;
    margin-left: 20px;
    width: 50%;
}
#conten-right{
    display: flex;
    width: 50%;
}
#time{
    display: flex;
    border-radius: 30px;
    border-color: red;
    width: 90px;
    height: 37px;
    font-size: 14px;
    position: relative;
    margin-top: 31px;
    margin-right: 30px;
    text-align: center;
    color: red;
}
#menu{
    display: flex;
    flex-direction: row;
    justify-content: start;
}
#menu-one{
    display: flex;
}

.user{
    background-color: red;
    border: none;
    border-radius: 20px;
    width: 75px;
    height: 27px;
    position: relative;
    margin-top: 15px;
    margin-left: 20px;
    color: rgba(255, 255, 255, 0.74);
}
.time-two{
    position: relative;
    top: 3px;
    margin-left: 10px;
}
#center-img{
    display: flex;
    flex-direction: column;
}
#img-one{
    display: flex;
    margin-top: 10px;
    justify-content: space-around;
        
}
.hinh-one{
    /* width: 100%; */
    border-radius: 10px;
    margin-top: 2px;
    width: 870px;
    height: 459px;
}

.mic_color{
    position: absolute;
    margin-left: 52%;
    margin-top: 15px;
}
.online{
    position: absolute;
    margin-right: 44%;
    margin-top: 12px;
    background-color: rgba(10, 10, 10, 0.407);
    color: rgba(255, 255, 255, 0.723);
    border: none;
    font-size: 14px;
}
#img-two{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 870px;
    height: 160px;
    position: relative;
    margin-top: 25px;
    margin-left: 20px;
}
.hinh-two{
    border-radius: 10px;
}
#footer{
    display: flex;
    flex-direction: row;
    justify-content: center ;
    margin-top: 25px;
    width: 100%;
    margin-bottom: 32px;
}
 #footer-left{
    display: flex;
    flex-direction: row;
   justify-content: space-around;
    width: 200px;
} 
#footer-right{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 200px;
}


